.metrics-display {
  margin-bottom: 15px;
  font-weight: 700;
}

.metrics-buttons {
  display: flex;
  margin-bottom: 10px;
}

.fa-heart {
  margin-right: 10px;
  /* add background image */
}

.active {
  background: red;
  /* toggle new background image on active */
}